body
  background black

.bespoke-parent
  background #000
  color rgba(255, 255, 255, 0.8)

.bespoke-slide
  background rgb(70, 72, 61)
  background-image url('../images/logo.png')
  background-position 99% 98.25%
  background-repeat no-repeat
  background-size 14%

h1
  font-family: 'Open Sans', sans-serif;


table
  border-bottom: dotted 1px #e3e5e8

thead
  background #8c2425
  color #fff

tbody
  tr:nth-child(odd)
    background #e3e5e8


a, a:visited, a:active, a:link
  font-size 0.8em
  color: rgba(190,213,46,0.8)


.language-sh, .language-bash
  outline 1px solid cream


.section-title, .title-page, .image-no-title
  justify-content center


pre.language-javascript
  border 1px solid rgba(255, 255, 255, 0.225)


code.language-sh, code.language-bash
  background rgb(70, 72, 61)
  color rgba(190,213,46,0.8)
  border 1px solid rgb(83, 85, 74)

pre[class*="language-"]
  padding: 0.03em
  text-shadow: none
  span
    text-shadow: none

.hljs.language-javascript, .hljs.language-sh, .hljs.language-bash
  text-shadow: none
  color: rgba(255, 255, 255, 0.8)

